//
// Main Entry Article
//======================================

.entry {
  background-color: $entry--background-color;
  margin-bottom: 40px;
  padding: 30px 0;

    @include media( $breakpoint__screen-size--small ) {
    padding: 30px;
    margin-bottom: 5%;
  }
}