//
// Primary Sidebar
//======================================

.sidebar-primary {
  float: right;
  width: $primary-sidebar--width;

  @include media( $breakpoint__screen-size--large ) {
    width: 100%;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}

