//
// Footer Widgets
//======================================

.footer-widgets {
  background-color: $footer-widgets--background-color;
  @include rem(font-size, $footer-widget--font-size );
  clear: both;
  padding: 60px 0;
}

.footer-widget-area {
  border: 1px solid $footer-widgets--border-color;
  padding: 10px;

  .widget {
    margin-bottom: 10px;
  }
}

.popular-recipes {
  float: left;
  width: 25%;
  h4.entry-title {
    font-size: $footer-widget--font-size;
  }
}
