//
// Entry Footer Meta
//======================================

.entry-footer {
  .entry-meta {
    background: $entry-footer__meta--border-color;
    padding: 10px;
    @include rem(font-size, $entry-footer__entry-meta--font-size );
    margin: 20px 0 0;
  }
}

.entry-categories,
.entry-tags {
  display: block;
}