//
// Archive Base
//======================================

.archive-description .entry-title,
.archive-title {
  @include rem(font-size, $archive-title--font-size);
  margin-bottom: 40px;
}

h1.archive-title {
  @include media($breakpoint__screen-size--small) {
    font-size: $archive-title--font-size--mobile;
    text-align: center;
  }
}